<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista de Clientes</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Renda</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | async">
            <td>{{client.name}}</td>
            <td>{{client.redimentoMensal | currency:'BRL':true:'1.2-2'}} </td>
            <td><button (click)="delete(client.id)" class="btn btn-danger">Excluir</button>
                <button (click)="update(client.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
                <button (click)="simulation(client.id)" class="btn btn-dark" style="margin-left: 10px">Simulação</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>