<h3>Criar Cliente</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="client.name" name="name">
    </div>

    <div class="form-group">
      <label for="Renda">Renda Mensal</label>
      <input type="number" class="form-control" id="renda"  required [(ngModel)]="client.redimentoMensal" name="renda">
      <br>
      <label><h3>Risco do Cliente é : {{risk}}</h3></label>
    </div>


    <!-- informations address-->
    <div class="form-group">
      <label for="Rua">Rua</label>
      <input type="text" class="form-control"  (focus)="showRisk(client.redimentoMensal)" id="street" required [(ngModel)]="address.street" name="street">
      
    </div>
    <div class="form-group">
      <label for="Número">Número</label>
      <input type="text" class="form-control" id="num" required [(ngModel)]="address.number" name="num">
    </div>

    <div class="form-group">
      <label for="Cep">Cep</label>
      <input type="text" class="form-control" id="zipcode" required [(ngModel)]="address.zipCode" name="zipcode">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  
  </form>

</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>