<h3>Simulação</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="valor">Valor (R$)</label>
      <input type="text" class="form-control" id="valor" required [(ngModel)]="LoanDTO.valueLoan" name="valor">
    </div>

    <div class="form-group">
      <label for="meses">Numero de Meses</label>
      <input type="number" class="form-control" id="month"  required [(ngModel)]="LoanDTO.amountMonths" name="month">
      <br>
    </div>

    <button type="submit" class="btn btn-success">Simular</button>
  
  </form>

</div>
<div [hidden]="!submitted">
    <label for="solicitado">Valor solicitato R$ {{returnLoanDTO.valueLoan}} </label><br>
   <label for="amoutrate">Juros R$ {{returnLoanDTO.interestRate}}</label><br>
   <label for="amount">Total a pagar R${{returnLoanDTO.amount}}</label>

</div>