<h3>Atualizar Cliente</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="client.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Renda Mensal</label>
      <input type="number" class="form-control" id="renda" required [(ngModel)]="client.redimentoMensal" name="renda">
    </div>

    <!-- informations address-->
    <div class="form-group">
      <label for="Rua">Rua</label>
      <input type="text" class="form-control" id="street" required [(ngModel)]="address.street" name="street">
    </div>
    <div class="form-group">
      <label for="Número">Número</label>
      <input type="text" class="form-control" id="num" required [(ngModel)]="address.number" name="num">
    </div>

    <div class="form-group">
      <label for="Cep">Cep</label>
      <input type="text" class="form-control" id="zipcode" required [(ngModel)]="address.zipCode" name="zipcode">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>